<!DOCTYPE html>
<html>
	<head>
	    <title>News Sites API</title>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
	</head>
	<body>
		<div class="main-wrapper container">
		    <h1>News Sites API</h1>
		    <form method="POST">
		    	<div class="row">
			    	<select name="site" id="site" class="form-input">
					  <option value="tvn24">Tvn24</option>
					  <option value="tvpinfo">Tvp.info</option>
					</select>
				</div>
		    	<div class="row">
		    		<input type="datetime-local" name="date" class="form-input"required>
				</div>
		    	<div class="row">
		    		<input type="submit" class="submit-button">
				</div>
		    </form>
		    {% if results %}
		    	{% for result in results %}
		    		<p>{{ result.time_stamp }} | {{ result.headline }}</p>
		    	{% endfor %}
		    {% endif %}
		</div>
	</body>
</html>